<table class="w-full table-auto border-collapse">
  <thead>
    <tr class="bg-gray-100 text-gray-700">
      <th class="px-4 py-3 text-left text-sm font-semibold">ID</th>
      <th class="px-4 py-3 text-left text-sm font-semibold">Название</th>
      <th
        class="px-4 py-3 text-left text-sm font-semibold hidden md:table-cell"
      >
        Описание
      </th>
      <th class="px-4 py-3 text-left text-sm font-semibold">Статус</th>
      <th class="px-4 py-3 text-left text-sm font-semibold">Действия</th>
    </tr>
  </thead>
  <tbody>
    @for (task of tasks(); track $index) {

    <app-task-item
      [task]="task"
      (viewDetails)="viewDetails($event)"
      (delete)="deleteTask($event)"
      (toggleStatus)="toggleTaskStatus($event)"
    >
    </app-task-item>

    } @if (tasks().length === 0) {
    <tr>
      <td colspan="5" class="px-4 py-3 text-lg text-gray-600 text-center">
        Список пуст
      </td>
    </tr>
    }
  </tbody>
</table>
